JumpSignalEmmiter
{
	width: 18px;
    height: 18px;
	background-image: resource("Assets/Editor/StyleSheets/ico/jumpTo_collapsed.png");
}

JumpSignalEmmiter:checked
{
	background-image: resource("Assets/Editor/StyleSheets/ico/jumpTo_normal.png");
}

JumpSignalEmmiter:focus:checked
{
	background-image: resource("Assets/Editor/StyleSheets/ico/jumpTo_selected.png");
}

SlowSignalEmitter
{
	width: 18px;
    height: 18px;
	background-image: resource("Assets/Editor/StyleSheets/ico/slow_collapsed.png");
}

SlowSignalEmitter:checked
{
	background-image: resource("Assets/Editor/StyleSheets/ico/slow_normal.png");
}

SlowSignalEmitter:focus:checked
{
	background-image: resource("Assets/Editor/StyleSheets/ico/slow_selected.png");
}

ActiveSignalmEmitter
{
	width: 18px;
    height: 18px;
	background-image: resource("Assets/Editor/StyleSheets/ico/sty2_collapsed.png");
}

ActiveSignalmEmitter:checked
{
	background-image: resource("Assets/Editor/StyleSheets/ico/sty2_normal.png");
}

ActiveSignalmEmitter:focus:checked
{
	background-image: resource("Assets/Editor/StyleSheets/ico/sty2_selected.png");
}

AnchorSignalEmitter
{
	width: 18px;
    height: 18px;
	background-image: resource("Assets/Editor/StyleSheets/ico/sty_collapsed.png");
}

AnchorSignalEmitter:checked
{
	background-image: resource("Assets/Editor/StyleSheets/ico/sty_normal.png");
}

AnchorSignalEmitter:focus:checked
{
	background-image: resource("Assets/Editor/StyleSheets/ico/sty_selected.png");
}

QteEmitter
{
	width: 18px;
    height: 18px;
	background-image: resource("Assets/Editor/StyleSheets/ico/timg_collapsed.png");
}

QteEmitter:checked
{
	background-image: resource("Assets/Editor/StyleSheets/ico/timg_normal.png");
}

QteEmitter:focus:checked
{
	background-image: resource("Assets/Editor/StyleSheets/ico/timg_selected.png");
}